.post{
    width: 60%;
    min-width: 250px;
    display: grid;
    grid-template-columns: 0.8fr 1.5fr;
    border: 1px solid black;
    border-radius: 10px;
    margin:7px;
    gap:2px;
    justify-content: center;
    align-items: center;
    background-color: var(--shades---main-white);
    box-shadow: 2px -9px 27px -16px rgba(0,0,0,0.75);
}

.post:hover{
    box-shadow: 12px 11px 35px -18px rgba(0,0,0,0.3);
    color: var(--success---main900);
}
.post img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid black;
}
.imagecontent{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

 .textcontent{
    display: grid;
    grid-template-rows: 0.5fr 0.2fr 1fr;
    overflow: hidden;
    padding:7px;
 }

 .author{
    color:var(--neutral---main350);
 }

.textcontent .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(28px, 1.5vw + 0.5px, 32px);
    font-weight: var(--weight--medium);
    padding: 0px;
}

.textcontent p {
    /* font-size: clamp(12px, 1.5vw + 0.5px, 16px);  */
    font-size: clamp(12px, 1vw, 16px);
    overflow:hidden;
    text-overflow:ellipsis;
}

/* Media query for screen sizes below 768px */
@media (max-width: 768px) {
    .post {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    
    .post img {
        border-radius: 10px 10px 0 0;
        border-right: none;
        border-bottom: 1px solid black;
    }

    .textcontent .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: clamp(24px, 1.5vw + 0.5px, 28px);
        font-weight: var(--weight--medium);
    }
    
    .textcontent p {
        /* font-size: clamp(12px, 1.5vw + 0.5px, 16px);  */
        font-size: clamp(12px, 1vw, 16px);
        overflow:hidden;
        text-overflow:ellipsis;
    }

    .author{
        color:var(--neutral---main350);
        font-size: clamp(12px, 1vw, 16px);
     }
    


}
